<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="about">About</a>
    <a href="form">Form</a>
    <a href="index">Index</a>
    <h1></h1>
    <h1>name: {{ name }}</h1>
    <h1>email: {{ email }}</h1>
    <h1>comments: {{ comments }}</h1>
    <h1>comeback: {{ sec }}</h1>
    
    <div>
        <table>
            <tbody>
                    {{grid sec}}
            </tbody>
        </table>
    </div>
</body>
</html>